<%= form_with model: post do |form| %>
  <% if form.object.errors.any? %>
    <p class="error"><%= form.object.errors.full_messages.first %></p>
  <% end %>

  <div>
        <%= form.label :text %>
        <%= form.text_field :text %>
    </div>

    <div>
        <%= form.label :body %>
        <%= form.textarea :body %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
